@keyframes moveInLeft {
  /* can be every name you want*/
  /*Start of animation*/
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  50% {
    opacity: 0.5; }
  /*Animation at 80 %*/
  80% {
    transform: translateX(1rem); }
  /*end of animation*/
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  50% {
    opacity: 0.5; }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

/*Set font in body -- make use of inheritance -- all child elements get this font
Project wide font settings */
body {
  box-sizing: border-box; }

/******* ALLROUND CLASSES FOR JS *********/
.active {
  opacity: 1; }

.non-active {
  opacity: 0.5; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  /* 1.7 times bigger then normal*/
  color: #777;
  padding: 3rem; }

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 4rem;
  font-weight: 700; }

h2 {
  font-family: "Lato", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  color: #112c29;
  text-transform: uppercase; }

/* The .heading-primary class defines the primary heading styles for the page, including color, transformation, and margin. */
.heading-primary {
  /* The color of the text is set using the variable $color-white. */
  color: #fff;
  /* All text will be transformed to uppercase. */
  text-transform: uppercase;
  /* A bottom margin is added. */
  margin-bottom: 6rem;
  /* The backface-visibility property hides the back face of the element when facing the user. This property is useful when dealing with animations and transitions. */
  backface-visibility: hidden;
  /* .heading-primary--main class is a modifier of .heading-primary class. It defines the main heading's display, font size, font weight, letter spacing, and animation properties. */
  /* .heading-primary--sub class is another modifier of .heading-primary class. It defines the subheading's display, font size, font weight, letter spacing, and animation properties. */
  /* Additional animation properties can be set, such as delay, iteration count, and timing function. For more details, refer to the Mozilla Developer Network documentation: https://developer.mozilla.org/en-US/docs/Web/CSS/animation-timing-function */ }
  .heading-primary--main {
    /* The display property is set to block to ensure the heading uses the full width of its container. */
    display: block;
    /* The font size and weight are set to emphasize the heading. */
    font-size: 6rem;
    font-weight: 700;
    /* Letter spacing is increased for a particular visual style. */
    letter-spacing: 3.5rem;
    /* The animation property specifies the name of the animation, its duration and its timing function. */
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    /* Similar to the main heading, the subheading is also a block level element. */
    display: block;
    /* The font size and weight are slightly reduced compared to the main heading. */
    font-size: 2rem;
    font-weight: 700;
    /* Letter spacing is also reduced compared to the main heading. */
    letter-spacing: 1.75rem;
    /* The animation property is used here in its shorthand form, specifying the name of the animation, its duration and its timing function all in one line. */
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
  background-image: linear-gradient(to right, rgba(87, 220, 205, 0.8), rgba(0, 32, 37, 0.8));
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.5s ease; }
  .heading-secondary:hover {
    transform: scale(1.05) translateY(-0.5rem);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    backface-visibility: hidden; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-bottom-6 {
  margin-bottom: 6rem; }

.u-margin-bottom-4 {
  margin-bottom: 4rem; }

.u-margin-bottom-2 {
  margin-bottom: 2rem; }

/* The .btn class and its variants define the style for the button on the page. */
.btn {
  /* &:link and &:visited pseudo-classes style the button in its normal state and when the linked button has been visited, respectively. */
  /* The &:hover pseudo-class styles the button when it is being hovered. */
  /* The &:active pseudo-class styles the button when it is being clicked. */
  /* The ::after pseudo-element creates a virtual element behind the button, useful for creating certain effects. */
  /* The .btn--white variant has a white background and a primary color text. */ }
  .btn:link, .btn:visited {
    /* The button text is transformed to uppercase. */
    text-transform: uppercase;
    /* Text decoration is removed to discard the default underline provided by the browser for links. */
    text-decoration: none;
    /* Padding is added to size the button. */
    padding: 1.5rem 4rem;
    /* The button is displayed as an inline block, which allows it to have block properties but still stay in the flow of text. */
    display: inline-block;
    /* A border radius is added for a pill-like button. */
    border-radius: 10rem;
    /* A transition is added to all properties for smooth animation effects when state changes occur. */
    transition: all .2s;
    /* Relative positioning is set to create a new context for absolutely positioned pseudo-elements. */
    position: relative; }
  .btn:hover {
    /* The button moves up slightly when hovered. */
    transform: translateY(-3px);
    /* A box shadow is added to give the effect of the button being lifted. */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    /* The ::after pseudo-element is scaled up and made transparent when the button is hovered. */ }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    /* The button moves down slightly when clicked to give the effect of being pressed. */
    transform: translateY(-1px);
    /* A smaller box shadow is applied when the button is clicked. */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    /* height of the button */
    width: 100%;
    /* width of the button */
    border-radius: 10rem;
    /* border radius to match the button's border radius */
    position: absolute;
    top: 0;
    left: 0;
    /* The pseudo-element is positioned behind the button using a negative z-index. */
    z-index: -1;
    /* A transition is added for smooth animation effects. */
    transition: all 0.5s; }
  .btn--white {
    background-color: #fff;
    color: #002025;
    /* The ::after pseudo-element has a slightly transparent primary color background. */ }
    .btn--white::after {
      background-color: rgba(87, 220, 205, 0.8); }
  .btn--blue {
    background-color: #57dccd;
    color: #fff;
    /* The ::after pseudo-element has a slightly transparent primary color background. */
    /* The .btn--animated variant is animated on page load. */ }
    .btn--blue::after {
      background-color: rgba(87, 220, 205, 0.8); }
    .btn--blue--animated {
      /* The animation property is set to move the button from the bottom of the page, take 0.5 seconds, start after a delay of 0.75 seconds, and ease out. */
      animation: moveInBottom .5s ease-out .75s;
      /* The animation-fill-mode property is set to 'backwards', which will apply the initial keyframe values as soon as the animation is applied. */
      animation-fill-mode: backwards; }

.card {
  display: grid;
  perspective: 150rem;
  padding: 5rem 0;
  height: 55rem; }
  .card__heading-secondary {
    grid-column: 1/2;
    grid-row: 1/2; }
  .card__container {
    display: flex;
    flex-direction: column; }
  .card__side {
    height: 55rem;
    color: #000000;
    transition: all 1s ease;
    width: 35rem;
    grid-column: 1/2;
    grid-row: 2/3;
    backface-visibility: hidden;
    max-width: 100%;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    position: relative; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #4ec6b9, #112c29); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #c0b3e1, #5b3f9f); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #f17988, #da172f); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    background-position: center;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #4ec6b9, #112c29), url(../images/web-app-dev.png); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #c0b3e1, #5b3f9f), url(../images/ui-ux.jpg);
      object-fit: cover; }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #f17988, #da172f), url(../images/motivational-guidance.png); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 14rem;
    right: 2rem;
    text-align: right;
    width: 70%; }
  .card__heading-span {
    padding: 1rem 1.4rem;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(78, 198, 185, 0.85), rgba(17, 44, 41, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(192, 179, 225, 0.85), rgba(91, 63, 159, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(241, 121, 136, 0.85), rgba(218, 23, 47, 0.85)); }
  .card__details ul {
    list-style: none;
    width: 70%;
    margin: 0 auto;
    padding: 3rem 0; }
    .card__details ul li {
      padding: 1rem;
      text-align: center;
      font-size: 1.4rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #eee; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #002025;
  color: #fff; }
  .footer__container {
    display: flex; }
  .footer__socials {
    text-decoration: none;
    color: white;
    margin: 0 1rem; }

/* The .header class defines the header section of the page. It covers 95% of the viewport's height and includes a gradient and background image. */
.header {
  height: 95vh;
  /* Two background images are set: a linear gradient and an image from a URL. The gradient's opacity is set using rgba. */
  background-image: linear-gradient(to right bottom, rgba(87, 220, 205, 0.8), rgba(0, 32, 37, 0.8)), url("../images/impact.jpg");
  /* The background image will cover the entire viewport, minus 5% of its height. */
  background-size: cover;
  /* The top of the image is set to always stay at the top, improving responsiveness. */
  background-position: center;
  /* A polygon clipping path is specified to define the visible portion of the element. */
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative;
  /* .header__nav-container defines the style for the navigation container. It uses flexbox for layout, aligning items to the end of the main axis and center of the cross axis. */
  /* .header__logo-box and .header__logo define the styles for the logo container and the logo respectively. They're positioned absolutely within the header section. */
  /* .header__nav-container__nav-items and its child .nav-item define the styles for the navigation items. */
  /* .header__text-box positions a text box in the center of the header section. */ }
  .header__nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3em 5em; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 8rem; }
  .header__nav-container__nav-items {
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
    /* .nav-item defines individual navigation links. On hover, a bottom border expands to fill the width of the link. */ }
    .header__nav-container__nav-items .nav-item {
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 500;
      color: #fff;
      position: relative;
      /* ::after pseudoelement is used to create a dynamic bottom border on hover. */
      /* On hover, the width of the ::after pseudoelement (bottom border) expands to 100%. */ }
      .header__nav-container__nav-items .nav-item::after {
        content: "";
        height: 3px;
        width: 0;
        background: #afeee6;
        border-radius: 3px;
        position: absolute;
        bottom: -6px;
        left: 0;
        transition: all 0.5s; }
      .header__nav-container__nav-items .nav-item:hover::after {
        width: 100%; }
  .header__text-box {
    position: absolute;
    top: 50%;
    /* relative to the parent element */
    left: 50%;
    /* The translate transform shifts the position of the element by a percentage of its own size, effectively centering it. */
    transform: translate(-50%, -50%);
    text-align: center; }

.flex-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.about__grid-row {
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-columns: repeat(10, 1fr);
  justify-items: stretch; }
  .about__grid-row__col--1 {
    grid-column: 2/6;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center; }
    .about__grid-row__col--1 .about__pictures {
      width: 100%; }
      .about__grid-row__col--1 .about__pictures--1 {
        grid-row: 1 / 4;
        grid-column: 3 / 7;
        width: 75%; }
      .about__grid-row__col--1 .about__pictures--2 {
        grid-row: 2 / 6;
        grid-column: 2 / 5;
        width: 110%; }
      .about__grid-row__col--1 .about__pictures--3 {
        grid-row: 1 / 4;
        grid-column: 1 / 4; }
  .about__grid-row__col--2 {
    grid-column: 6/10;
    padding: 2rem 6vw;
    display: grid;
    align-content: center;
    justify-items: start; }

.section-about {
  background-color: #f7f7f7;
  padding: 35vh 0 20rem 0;
  margin-top: -20vh; }

.section-services {
  background: #f7f7f7;
  padding: 20vh 0 25vh 0;
  margin-top: -25vh; }

.section-portfolio {
  padding: 25vh 0;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(87, 220, 205, 0.8), rgba(0, 32, 37, 0.8));
  background-size: cover;
  z-index: 100;
  background-color: #f7f7f7; }
