$color-primary: #57dccd;
$color-primary-light: #afeee6;
$color-primary-dark: #002025;
$color-black: #000000;
$color-white: #fff;
$color-gray-background: #e6e9e9;
$color-gray-light: #f7f7f7;
$color-gray-dark-gray: #999;

$color-secondary-light: #4ec6b9;
$color-secondary-dark: #112c29;
$color-tertiary-light: #c0b3e1;
$color-tertiary-dark: #5b3f9f;
$color-fourth-light: #f17988;
$color-fourth-dark: #da172f;

$box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

$box-radius-3px: 3px;