.card {
  // FUNCTIONALITY
  display: grid; // The card is displayed as a grid for flexible layout
  perspective: 150rem; // Defines the perspective view for a 3D transform on the card
  padding: 5rem 0;
  height: 55rem;

  // put height on .card and on the side, so the height applies to both sides and the entire card



  &__heading-secondary {
    grid-column: 1/2; // Sets the card side's position on the grid column
    grid-row: 1/2; // Sets the card side's position on the grid row
  }

  &__container {
    display: flex;
    flex-direction: column;
  }


  &__side { // This is the side of the card we need a side, to use the perspective
    height: 55rem; // Defines the height of the card side
    color: $color-black; // Sets the text color of the card side

    transition: all 1s ease; //ease will make the flow more relax // Applies transition effects to all properties for a duration of 0.8 seconds
    width: 35rem;
    //  making the front and the back place on top of each other
    grid-column: 1/2; // Sets the card side's position on the grid column
    grid-row: 2/3; // Sets the card side's position on the grid row

    backface-visibility: hidden; // Hides the back of the card side, now the image is clear
    max-width: 100%;
    border-radius: 3px;
    overflow: hidden; // makes sure that the corners of images stay round, because the background image is overflowing the parent
    box-shadow: $box-shadow;
    position: relative;


    &--front { // This is the front side of the card.
      background-color: $color-white; // Sets the background color of the front side of the card
    }

    &--back { // This is the back side of the card
      transform: rotateY(180deg); // Rotates the back side of the card 180 degrees along the Y-axis

      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, $color-fourth-light, $color-fourth-dark);

      }
    }
  }

  &:hover &__side--front { // Applies the styles on hover over the front side of the card
    transform: rotateY(-180deg); // On hover, the front side of the card rotates 180 degrees along the Y-axis
  }

  &:hover &__side--back { // Applies the styles on hover over the back side of the card
    transform: rotateY(0); // On hover, the back side of the card rotates back to its original position
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    background-position: center;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);


    &--1 {
      background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
      url(../images/web-app-dev.png);

    }

    &--2 {
      background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../images/ui-ux.jpg);
    }

    &--3 {
      background-image: linear-gradient(to right bottom, $color-fourth-light, $color-fourth-dark), url(../images/motivational-guidance.png);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 14rem;
    right: 2rem;
    text-align: right;
    width: 70%;
  }

  &__heading-span {
    padding: 1rem 1.4rem;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
                      to right bottom,
                      rgba($color-secondary-light, .85),
                      rgba($color-secondary-dark, .85)
      );
    }

    &--2 {
      background-image: linear-gradient(
                      to right bottom,
                      rgba($color-tertiary-light, .85),
                      rgba($color-tertiary-dark, .85)
      );
    }
    &--3 {
      background-image: linear-gradient(
                      to right bottom,
                      rgba($color-fourth-light, .85),
                      rgba($color-fourth-dark, .85)
      );
    }
  }

  &__details {
    & ul {
        list-style: none;
        width: 70%;
        margin: 0 auto;
        padding: 3rem 0;

       & li {
         padding: 1rem;
         text-align: center;
         font-size: 1.4rem;

         &:not(:last-child) { //every li except the lasat child
           border-bottom: 1px solid #eee;
         }
       }
    }

  }
}

