.footer {
  display: flex;
  justify-content: space-around;
  background-color: $color-primary-dark;
  color: $color-white;

  &__container{
    display: flex;
  }

  &__socials{
    text-decoration: none;
    color: white;
    margin: 0 1rem;

  }
}