main {
  background-color: $color-gray-light;
}

.section-about {
  background-color: $color-gray-light;

  margin-top: -20vh;
}

.skills {

  background-image: linear-gradient(to right bottom,
          rgba($color-primary, 0.8),
          rgba($color-primary-dark, 0.8)),
  url("../images/solutions.jpg");
  background-size: cover;
  background-position: center;
  transform: skewY(-7deg);

  // direct child selector, * is universal selector, so all child direct child elements
  & > * {
    transform: skewY(7deg);

  }
}


.section-services {
  background: $color-gray-light;

}

.section-portfolio {


  position: relative;
  background-image: linear-gradient(to right bottom, rgba($color-primary, 0.8), rgba($color-primary-dark, 0.8));
  background-size: cover;
  z-index: 100;
  background-color: $color-gray-light;

}

.section-contact {
  background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark);

}

.contact {
  background-image: linear-gradient(105deg,
    //Solid colour gradient
          rgba($color-white, .9) 0%,
          rgba($color-white, .9) 50%,
          transparent 50%),
  url(../images/teamwork.png);
  background-size: cover;
  background-position: top;

  border-radius: $box-radius-3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .3);

  display: flex;

  &__form {
    padding: 6rem;

  }
}

